.contenedor-lista-preguntas{
    height: 40%;
}

.seccion-lista-preguntas{
    padding: 16px;
    overflow-y : auto;
    height: auto;
}

.rectangulo-pregunta{
    width: '100%';
    border: 1px solid grey;
    margin-bottom : 8px;
    /* opacity: 0.5; */
    border-radius: 3px;
    padding: 8px;
}